{% extends "admin_layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col-lg-3 col-md-4 col-sm-5 col-xs-12" style="width: 18rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
              <div class="card-body">
                <h3 style="font-size: 100px">{{ totalNumOfRooms }} </h3>
                <p class="card-text">Total number of rooms in {{ hostelName }}</p>
              </div>
              <div class="card-action">
                <a style="float: right" href="{{ url_for('detailed_report', id = 'totRooms') }}">Full Details</a>
              </div>
            </div>

            <div class="card col-lg-3 col-md-4 col-sm-5 col-xs-12" style="width: 18rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
              <div class="card-body">
                <h3 style="font-size: 100px">{{ totalNumofStudents }} </h3>
                <p class="card-text">Total number of students in {{ hostelName }}</p>
              </div>
              <div class="card-action">
                <a style="float: right" href="{{ url_for('detailed_report', id = "totStu") }}">Full Details</a>
              </div>
            </div>

            <div class="card col-lg-3 col-md-4  col-sm-5 col-xs-12" style="width: 18rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
              <div class="card-body">
                <h3 style="font-size: 100px"> {{ totalNumofFullyPaid }} </h3>
                <p class="card-text">Total number of students who have fully paid</p>
              </div>
              <div class="card-action">
                <a style="float: right" href="{{ url_for('detailed_report', id = "totStuPaid") }}">Full Details</a>
              </div>
            </div>

            <div class="card col-lg-3 col-md-4  col-sm-5 col-xs-12" style="width: 18rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
              <div class="card-body">
                <h3 style="font-size: 100px">{{ fullyOccupiedRooms }} </h3>
                <p class="card-text">Total number of fully occupied rooms</p>
              </div>
              <div class="card-action">
                <a style="float: right" href="{{ url_for('detailed_report', id = "totFullRooms") }}">Full Details</a>
              </div>
            </div>

            <div class="card col-lg-3 col-md-4  col-sm-5 col-xs-12" style="width: 18rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
              <div class="card-body">
                <h3 style="font-size: 100px">{{ totalNumOfMales }} </h3>
                <p class="card-text">Total number of males in {{ hostelName}}</p>
              </div>
              <div class="card-action">
                <a style="float: right" href="{{ url_for('detailed_report', id = "totMaleStu") }}">Full Details</a>
              </div>
            </div>

            <div class="card col-lg-3 col-md-4  col-sm-5 col-xs-12" style="width: 18rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
              <div class="card-body">
                <h3 style="font-size: 100px">{{ totalNumOfFemales }} </h3>
                <p class="card-text">Total number of females in {{ hostelName }}</p>
              </div>
              <div class="card-action">
                <a style="float: right" href="{{ url_for('detailed_report', id = "totFemStu") }}">Full Details</a>
              </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock content%}
