{% extends 'student_layout.html' %}
{% block content %}
     <div class="container">
        <h1>Here are the available rooms</h1>
        <div class="row">
            {% for room in rooms%}
                <div class="card col-lg-3 col-md-4 col-sm-5 col-xs-12" style="width: 18rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
                  <div class="card-body">
                    <h4 class="card-title">{{ room[0] }}</h4>
                    <p class="card-text">This is a room with {{ room[1] }} beds going for the price of {{ room[2] }}</p>
                  </div>
                  <div class="card-action">
                    <a class="btn btn-info" style="float: right; margin: 10px" href="{{ url_for('picked_room', id = room[0])}}">Book room</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}