{% extends 'admin_layout.html' %}
{% block content %}
    {% for item in payment%}
        {% if User.query.filter_by(id = item.user_id).first().hostel_id == current_user.hostel_id %}
            <div class="row">
                <div class="container" style="margin-bottom: 30px">
                    <div>
                       <a style="font-size: 20px"> {{ item.user.firstname }} {{ item.user.lastname }}</a><a style="position: relative; left: 64%; font-size: 20px">{{item.date_posted.strftime('%Y-%m-%d')}}</a>
                    </div>
                    <div class="card w-85" style="background-color: #E6E6E6">
                        <img class="card-img-top" src="{{'/static/payments/'+item.image_file }}" style="height: 300px" alt="Card image cap">
                        <div class="card-body">
                            <a style="float: right" href="{{ url_for('input_payment', id = item.image_id) }}" class="btn btn-primary">Add payment details</a>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {%endfor%}
{% endblock %}
