{% extends "student_layout.html" %}
{% block content %}
    {% for announcement in announcement%}
        <div class="row">
            <div class="container" style="margin-bottom: 30px">
                <div>
                    <a>{{ announcement.user.firstname }} </a><a>{{ announcement.user.lastname }}</a>
                    <a style="position: relative; left: 79.5%">{{ announcement.date_posted.strftime('%Y-%m-%d') }}</a>
                </div>
                <div class="card w-85" style="background-color: #E6E6E6">
                    <div class="card-body">
                        <h2><a class="article-title">{{ announcement.subject }}</a></h2>
                        <p class="article-content">{{ announcement.message }}</p>
                    </div>
                </div>
          </div>
        </div>
    {%endfor%}
{% endblock%}
